.card {
    display: grid;
    min-width: 850px;
    font-size: 110%;
    border-radius: var(--card-radius);
    background-color: var(--grey-blue);
    box-shadow: var(--extra-dark-blue) 0px 0px 15px -1px;
}

.cardSplitGrid {
    grid-template-columns: auto 25%;
}

.cardInfo {
    display: grid;
    grid-template-columns: 12% 17% 18% 32% 13%;
    column-gap: 2%;
    padding: 1rem;
}

.chart {
    background-color: var(--black);
    border-radius: 0px var(--card-radius) var(--card-radius) 0px;
    padding: 1rem
}

.infoBlock {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    scale: .8;
    max-width: 13rem;
}

.card b {
    color: grey;
    scale: .8;
}

.price {
    animation: priceChange .8s 1.5s forwards;
}

.price.up::before,
.price.down::before {
    content: none;
}

.up {
    color: #00873D;    ;
}

.down {
    color: #FF4040;
}

.up::before {
    content: "▲";
    display: inline-block;
    line-height: 1;
    -webkit-transform: scale(.8) translateX(-.2rem);
    transform: scale(.8) translateX(-.2rem);
    vertical-align: middle;
}

.down::before {
    content: "▼";
    display: inline-block;
    line-height: 1;
    -webkit-transform: scale(.8) translateX(-.2rem);
    transform: scale(.8) translateX(-.2rem);
    vertical-align: middle;
}

@keyframes priceChange {
    to {color: white;}
}

.trackButton {
    color: red;
}