:root {
  --card-radius: 19px;
  --dark-blue: rgb(24, 24, 34);
  --extra-dark-blue: rgb(19, 19, 25);
  --black: rgb(14, 14, 18);
  --grey-blue: rgb(33, 33, 43);
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: var(--dark-blue);
  color: white
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/* @media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
} */
